div {
    background: url("Imagenes/f01.png") left bottom repeat-x,
    url("Imagenes/f02.png") left bottom no-repeat,
    url(Imagenes/f03.png) left top repeat-x;
    background-color: cornflowerblue;
}
.muestra {
    height: 300px;
    width: 400px;
    border: 5px solid red;
    padding: 20px;
    margin: 20px;
}
.anterior, .posterior {
    height: 100px;
    width: 200px;
    border: 2px solid blue;
    padding: 5px;
}

