
td, th, caption{
	
	font-weight: bold;
}
table{
	width: 100%;
}
table, th, tr, td{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center

}
th{
	background-color: #073d2d;
	color:white;
}
.c1{
	background-color: lightgreen;
	color: black;
}
.c2{
	background-color: lightblue;
	text-align: left;
}
.c6{
	padding-right: 0px;
	background-color: pink;
	text-align: right;
	vertical-align: bottom;

}
.red{
	color: red;
}